<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="">
</head>
<body>
    <h1>FashionShop</h1>
    <img src="https://ci6.googleusercontent.com/proxy/dbxE7QrNOrBGuR8r7wYsWZ1J3wBTP1328As2525QmoYjm8rBrHXfOq-ShvUDr7wBJYS-k4wWCH0ZSFX-GHzGSCGtPyDG0QDnXjqjrT3kv6kzZbTufCcSlZAQnHBrjJa6IoVRME0m4kQz4mZbBIh-eVKk-sAarMCjlNJFbG-p-mPjwUUmUlsjGJ-nFnB4HH1-FJ6PBJF6I_h3vhG_FuUrPnE=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/fooddeliveryapp-ef427.appspot.com/o/logo.png?alt=media&token=b8aacd2d-977c-4cf0-8f75-413e1e92dd94" alt="Fashion app logo" width="500" height="600"/>

<footer>Fashion App </footer>

</body>
</html>
